<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahey Library-ลงทะเบียน</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/register.css" type="text/css">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <div class="p-5">
            <a href="/" class="navbar-brand fs-3 fw-normal">AHEY LIBRARY</a>
        </div>
        <div class="p-5 justify-content-center">
        </div>
        <div class="p-5 justify-content-end">
                <a href="/login" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                        fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg></a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary sticky-top">
    <div class="container">
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar1" class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item me-5">
                    <a href="/" class="nav-link">หน้าแรก</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/category/novel" class="nav-link">นิยาย</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/category/general" class="nav-link">หนังสือทั่วไป</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/category/children" class="nav-link">หนังสือเด็ก</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/category/manga" class="nav-link">การ์ตูน</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/board" class="nav-link">กระดาน</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/thread" class="nav-link">กระทู้</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <br>
  <br>

    <div class="container" id="container">
    <form id="formregister" action="/api/register" method="post">
        <div class="row mb-3">
          <label for="inputUsername" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label>
          <div class="col-sm-10">
            <div class="message">
            <input type="text" class="form-control" id="inputUsername3" name="username" placeholder="Example1234" style="color: orange;">
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">รหัสผ่าน</label>
          <div class="col-sm-10">
            <div class="message">
            <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="example1234" style="color: orange;">
            
            </div>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputPasswordConfirm" class="col-sm-2 col-form-label">ยืนยันรหัสผ่าน</label>
            <div class="col-sm-10">
              <div class="message">
              <input type="password" class="form-control" id="inputPasswordConfirm" name="repassword" style="color: orange;">
              
            </div>
            </div>
          </div>
        <div class="row mb-5">
            <label for="inputEmail3" class="col-sm-2 col-form-label">อีเมลล์</label>
            <div class="col-sm-10">
                <div class="message">
                <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Example@gmail.com" style="color: orange;" >
                
              </div>
            </div>
        </div>
        <div class="spacebtnregis">
        <button type="submit" class="btn btn-primary" id="buttonregis" >ลงทะเบียน</button>
        </div>
        <div class="error"><%= message %></div>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="/javascripts/register.js"></script>
</body>
</html>








<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <li class="navbar-brand" href="#">Ahey Libary</li>
       <form class="d-flex">
          <input class="form-control me-2" id="spform-control" type="search" placeholder="ค้นหา" aria-label="Search" style="background-color: #FFF172;color: red;">
          
        </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">หน้าหลัก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">วิธีการเช่า</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" >กระดาน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">กระทู้</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="login-link" aria-current="page" href="index_login.html">เข้าสู่ระบบ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <br>
    <br> -->