<html>
<body>
    <form action="/api/reset-password" method="post">
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <label>Password</label>
        <input type="password" name="password">
        <label>Re Password</label>
        <input type="password" name="repassword">
        <button type="submit">Save</button>
    </form>
</body>
</html>